{% load static i18n %}
<footer class="footer background-section v-dark pt-60">
    <div class="container p-relative">
        <div class="d-grid grid-lg-4 grid-md-3">
            <div class="logo-wrap">
                <div class="logo d-flex">
                    <img src="{% static 'web/img/logo-white.png' %}" alt="" class="logo">
                </div>
                <svg class="shape-one" width="30" height="30" viewBox="0 0 30 30" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_13_104)">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M30 0H0C16.5684 0 30 13.4314 30 30V0Z" fill="#0E0E0E" />
                    </g>
                    <defs>
                        <clipPath id="clip0_13_104">
                            <rect width="30" height="30" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
                <svg class="shape-two" width="30" height="30" viewBox="0 0 30 30" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H30C13.4316 0 0 13.4314 0 30V0Z"
                        fill="#0E0E0E" />
                </svg>

            </div>

            <div class="footer-links">
                <h4
                    class="sm-title-block p-relative circle-before circle-after circle-both-before mb-10 text-upper">
                    {% trans "Navigation Links" %}</h4>
                <ul>
                    <li class="text-upper">
                        <a href="{% url 'web:index' %}">{% trans "home" %}</a>
                    </li>
                    <li class="text-upper">
                        <a href="{% url 'web:portfolio' %}">{% trans "What We Do" %}</a>
                    </li>
                    <li class="text-upper">
                        <a href="{% url 'web:contact' %}">{% trans "Contact us" %}</a>
                    </li>

                </ul>
            </div>

            <div class="footer-contact">
                <h4
                    class="sm-title-block p-relative circle-before circle-after circle-both-before mb-10 text-upper">
                    {% trans "CONTACT Info" %}</h4>

                <div class="col-contact">
                    <p><strong>T</strong> : +966 56 44 133 20</p>
                    <p class="mt-10"><strong>F</strong> :+966 56 44 133 20</p>
                    <p class="over-hidden mt-10">
                        <strong>E</strong> : <a class="link-hover" href="mailto:info@bizzuparabia.com"
                            data-hover-text="#">info@bizzuparabia.com</a>
                    </p>
                </div>

            </div>

            <div class="footer-socials">
                <h4
                    class="sm-title-block p-relative circle-before circle-after circle-both-before mb-10 text-upper">
                    {% trans "socials Links" %}</h4>
                <ul class="dsn-socials box-social">
                    <li>
                        <a href="#0" target="_blank" class="background-main">
                            <i class="fab fa-facebook-f" aria-hidden="true"></i> <span>{% trans "FB" %}</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/bizzuparabia.agency/" target="_blank" class="background-main">
                            <i class="fab fa-instagram" aria-hidden="true"></i> <span>{% trans "IN" %}</span>
                        </a>
                    </li>
               
                </ul>

            </div>
        </div>
    </div>

    <div class="copyright background-main">
        <div class="container d-flex align-items-center justify-content-between">
            <p>{% trans "Copyright ©" %} {% now 'Y' %} <a href="bizzuparabia.com">{% trans "bizzuparabia" %}</a> {% trans "All Rights Reserved" %}</p>

            <div class="dsn-default-btn dsn-icon-heading-color">
                <a class="dsn-btn dsn-border border-color-default background-transparent image-zoom move-circle has-icon-left dsn-parallax-hover"
                    href="#main_root" rel="nofollow"
                    data-dsn-option='{"ease": "power4.inOut" , "duration" : 1.5}'>
                    <span class="d-flex align-items-center justify-content-center h-100">
                        <span class="dsn-icon no-padding heading-color z-index-1 btn-icon-left">
                            <svg enable-background="new 0 0 32 32" version="1.1" viewBox="0 0 32 32"
                                xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path
                                    d="M24.285,11.284L16,19.571l-8.285-8.288c-0.395-0.395-1.034-0.395-1.429,0  c-0.394,0.395-0.394,1.035,0,1.43l8.999,9.002l0,0l0,0c0.394,0.395,1.034,0.395,1.428,0l8.999-9.002  c0.394-0.395,0.394-1.036,0-1.431C25.319,10.889,24.679,10.889,24.285,11.284z"
                                    fill="#121313" id="Expand_More"></path>

                            </svg>
                        </span>
                        <span class="title-btn p-relative  z-index-1 heading-color"
                            data-animate-text="SCROLL TOP">
                            <span>{% trans "SCROLL TOP" %}</span>
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</footer>