{% extends "web/base.html" %}
{% load static i18n %}
{% block  content %}
    

        <!-- ========== Menu ========== -->
       
        <!-- ========== End Menu ========== -->

        <div id="dsn-scrollbar">
            <!-- ========== Slider Parallax ========== -->
            <header class="dsn-section-padding v-dark-head h-100-v p-relative">
                <div class="main-slider has-horizontal  active-nav-slider dsn-webgl has-paginate dsn-header-animation"
                    data-dsn-webgl='{"displacement" : "web/img/displacement/10.jpg" %}'
                    data-dsn-option='{"direction":"horizontal","allowTouchMove":true,"watchSlidesProgress":true,"grabCursor":true,"mousewheel":false}'>

                    <div class="content-slider slide-inner h-100 over-hidden">
                        <div class="bg-container p-absolute dsn-hero-parallax-img  w-100 h-100 z-index-1">
                            <div class="swiper swiper-container  h-100">
                                <div class="swiper-wrapper">
                                    {% for banner in banners %}
                                    <div class="slide-item swiper-slide over-hidden">
                                        <div class="image-bg cover-bg w-100 h-100 before-z-index" data-overlay="6">
                                            <img loading="lazy" src="{{banner.banner_image.url}}"
                                                class="cover-bg-img dsn-swiper-parallax-transform" alt="" />
                                        </div>
                                        <div class="slide-content p-absolute">
                                            <div class="d-flex  justify-content-between align-items-center w-100 mt-30">
                                                <div class="cat banner head-meta p-0">
                                                    <span class="background-section heading-color">{{banner.tags}}</span>
                                                </div>
                                            </div>
                                            <h1 class="title-lg has-box-mod p-relative banner-title">
                                                <a class="effect-ajax text-upper"
                                                   {% if LANGUAGE_CODE != 'ar' %} 
                                                   data-dsn-split="chars" 
                                                   {% endif %}
                                                   href="#" data-dsn-ajax="slider">
                                                    <br> {{ banner.title|safe }}
                                                </a>
                                            </h1>
                                            <p class="sm-title-block text-upper mt-20 max-w850  mr-auto">{{ banner.description }}</p>
                                                {% comment %} <div class="dsn-btn dsn-btn-shape mt-30 d-flex">

                                                    <a class="button background-theme effect-ajax" href="{% url 'web:about' %}">
                                                        <span class="title-btn p-relative  z-index-1 heading-color"
                                                            data-animate-text="{% trans "ABOUT US" %}">
                                                            <span>{% trans "ABOUT US" %}</span>
                                                        </span>
                                                    </a>
                
                                                    <span class="icon background-theme">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                                            <path
                                                                d="M328 96h24v288h-48V177.9L81 401l-17 17-33.9-34 17-17 223-223H64V96h264z">
                                                            </path>
                                                        </svg>
                                                    </span>
                
                                                </div> {% endcomment %}

                                        </div>
                                    </div>                             
                                    {% endfor %}


                                </div>
                            </div>
                        </div>

                        <div
                            class="dsn-slider-content dsn-container  dsn-hero-parallax-title p-relative h-100 w-100  d-flex align-items-end w-100 h-100 z-index-2">
                        </div>

                        <div class="progress-nav mt-40">
                            <div class="progress-w">
                                <div class="progress-w-after"></div>
                            </div>
                        </div>
                    </div>
                    <div class="control-num">
                        <span class="sup active swiper-pagination-custom">01</span>
                    </div>
                    <div class="dsn-nex-prev v-dark-head d-flex">
                        <div class="prev">
                            <div class="dsn-wrapper h-100"></div>
                            <h5 class="heading-color">{% trans "PREV" %}</h5>
                        </div>

                        <div class="next dsn-active">
                            <div class="dsn-wrapper h-100"></div>
                            <h5 class="heading-color">
                                {% trans "NEXT" %}</h5>
                        </div>
                    </div>

                </div>
            </header>
          
            <!-- ========== End Slider Parallax ========== -->

            <div id="page_wrapper" class="wrapper">

                <!-- ========== About Us ========== -->
                <section class="about-section section-padding p-relative">
                    <div class="container">
                        <div class="d-grid grid-lg-2">
                            <div class="box-text p-relative">
                                <div class="bg-pattern p-absolute w-100 "></div>
                                <h2 class="title mb-30 dsn-fill about-title">
                                    <span
                                    data-dsn-animation='{"from":{},"to":{},"responsive":["tablet","desktop"]}'>{% trans "Plan Your Business Strategy" %}
                                </span> {% trans "in Saudi Arabia with Bizzup Arabia Experts!" %}
                                    
                                </h2>
                                <p class="dsn-up">{% trans "As a leading business setup consultant in Saudi Arabia,  Bizzup Arabia helps you to set up and develop your business plans from start to finish. With over 150 local experts and years of expertise, we offer end-to-end support and complete legal guidance. Explore the unique advantages of Saudi Arabia’s strategic location and business environment with us. Partner with us to nurture business growth and maximize operational efficiency." %}

                                </p>

                                <div class="dsn-btn dsn-btn-shape mt-30 d-flex">

                                    <a class="button background-theme effect-ajax" href="{% url 'web:about' %}">
                                        <span class="title-btn p-relative  z-index-1 heading-color"
                                            data-animate-text="{% trans "ABOUT US" %}">
                                            <span>{% trans "MORE ABOUT US" %}</span>
                                        </span>
                                    </a>

                                    <span class="icon background-theme">    
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                            <path
                                                d="M328 96h24v288h-48V177.9L81 401l-17 17-33.9-34 17-17 223-223H64V96h264z">
                                            </path>
                                        </svg>
                                    </span>

                                </div>

                                
                            </div>

                            <div class="corner-box over-hidden">
                                <div class="corner__lb"></div>
                                <div class="box-img h-100 img-box-parallax before-z-index dsn-animate dsn-effect-down"
                                    data-dsn-triggerhook="bottom" data-dsn-grid="move-up" data-overlay="0">

                                    <img class="cover-bg-img" src="{% static 'web/img/hero.jpg' %}" alt="">
                                </div>
                            </div>

                        </div>

                        <div
                            class="experience d-flex justify-content-between background-section mt-30 d-flex dsn-layout-fade-up">

                            <div class="facts-inner p-10 d-grid grid-lg-2 gap-10 d-grid-no-space">
                                <div class="fact-item background-main has-border-radius p-30 dsn-up">
                                    <h3 class="title d-flex align-items-start justify-content-center">600
                                         <span
                                            class="background-theme p-5 has-border-radius">+</span></h3>
                                    <p class="text-upper mt-20 v-light background-main p-5 text-center heading-color">
                                        {% trans "Company Formations in KSA" %}</p>
                                </div>

                                <div class="fact-item background-main has-border-radius p-30 dsn-up">
                                    <h3 class="title d-flex align-items-start justify-content-center">3000 <span
                                            class="background-theme p-5 has-border-radius">+</span></h3>
                                    <p class="text-upper mt-20 v-light background-main p-5 text-center heading-color">
                                        {% trans "Happy Clients" %}</p>
</p>
                                </div>

                            </div>

                            <div class="box-video dsn-up v-dark-head">
                                <div class="box-img h-100 w-100 h-100 p-absolute top-0 right-0 dsn-hero-parallax-img before-z-index h-100"
                                    data-overlay="5">
                                    {% comment %} <img class="cover-bg-img" src="web/img/bg-video.jpg' %}" alt=""> {% endcomment %}
                                </div>
                                <div class="ex d-flex align-items-center h-100 p-relative z-index-1">
                                    <h2 class="title theme-color dsn-animate-number">
                                        <span class="animate-number">7</span>
                                    </h2>
                                    <span class="ml-5 text-upper heading-color">{% trans "Years" %} <br>
                                        {% trans "experience" %}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="about-section section-padding p-relative">
                    <div class="container">
                
                        <div class="box-text p-relative full-width-content">
                            <div class="bg-pattern p-absolute w-100"></div>
                
                            <h2 class="title mb-30 dsn-fill about-title">
                                <span data-dsn-animation='{"from":{},"to":{},"responsive":["tablet","desktop"]}'>
                                    {% trans "Bizzup Arabia: The #1 Business Setup Consultant In Saudi Arabia" %}
                                </span>
                            </h2>
                
                            <p class="dsn-up">
                                {% trans "Are you looking to establish your business presence in Saudi Arabia's ever-growing business and industrial landscape? As a leading business development consultant in Saudi Arabia (KSA), with over 600 company formations in Saudi Arabia and over 3,000 satisfied clients for over 7 years, we help you successfully establish, develop, and thrive your business in the country's business-friendly ecosystem." %}
                            </p>
                
                            <p class="dsn-up mt-15">
                                {% trans "From company registration to obtaining licenses and obtaining a company operating permit, we handle the entire process of company formation responsibly and with excellent service. We start our process with a detailed consultation to understand your business goals, then develop a comprehensive business plan. Our team handles all the legal processes and provides full support to start your business in Saudi Arabia." %}
                            </p>
                
                            <p class="dsn-up mt-15">
                                {% trans "As a leading business consultant in Saudi Arabia, Bizzup Arabia assists you with all other business incorporation processes, in addition to company formation. This includes auditing and tax services, PRO & GRO services, and company formations in special economic zones, and more." %}
                            </p>
                
                            <p class="dsn-up mt-15">
                                {% trans "Bizzup Arabia has over 7 years of experience in building successful businesses within Saudi Arabia’s strong legal framework and secure business environment. We provide excellent customer service and full legal support, clearly guiding you through every step of your business journey." %}
                            </p>
                
                            <p class="dsn-up mt-15">
                                {% trans "Our mission is to provide the right information and practical assistance to help you establish your business in Saudi Arabia at a low cost, with minimal effort, and without complications. Speak to our experts today to access reliable and high-quality services for company formation in Saudi Arabia." %}
                            </p>
                
                            <div class="dsn-btn dsn-btn-shape mt-40">
                                <a class="button background-theme effect-ajax" href="{% url 'web:contact' %}">
                                    <span class="title-btn p-relative z-index-1 heading-color">
                                        <span>{% trans "GET A QUOTE" %}</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                
                    </div>
                </section>
                


                <div class="col-lg-12">
                    <!-- Our Featured Footer Start -->
                    <div class="our-feature-footer mb-20" >
                        <p>{% trans "Let's build something incredible together." %}<a href="{% url 'web:request-for-quotation' %}">{% trans "Get a Quote" %}</a></p>
                    </div>
                    <!-- Our Featured Footer End -->
                </div>
                <!-- ========== End About Us ========== -->

                <!-- ==========  Service ========== -->
                {% comment %} <section
                    class="dsn-service padding-service section-padding background-section hover-box-item dsn-layout-fade-up">
                    <div class="container">
                        <div class="section-title dsn-fill mb-70 d-flex flex-column">
                            <span class="sub-heading mb-5">SERVICES</span>
                            <h2 class="title ">Find a
                                service That<br>
                                works for you</h2>
                        </div>
                    </div>

                    <div class="container">
                        <div class="d-grid grid-lg-3 grid-md-2 dsn-icon-theme-color">
                            {% for service in services %}
                            
                       
                            <div class="service-item grid-item background-main has-border-radius p-relative">
                                <div class="service-item-inner dsn-up">

                                    <h4 class="title-block">{{service.title}}</h4>
                                    <p class="mt-30">{{service.description|truncatewords:10}}</p>

                             

                                   
                                </div>
                            </div>

                            {% endfor %}

 
                        </div>
                    </div>
                </section> {% endcomment %}


                <div id="page_wrapper" class="wrapper">
                    <div class="container">
                        <div class="section-title dsn-fill mb-70 d-flex flex-column">
                            <span class="sub-heading mb-5">{% trans "SERVICES" %}</span>
                            <h2 class="title ">{% trans "Our Service" %}</h2>
                        </div>
                    </div>
                    <!-- ========== Portfolio ========== -->
                    <div class="our-work work-horizontal p-relative dsn-swiper has-parallax-image section-padding over-hidden pl-30 pr-30"
                        data-dsn-option='{"spaceBetween":30,"allowTouchMove":true,"centeredSlides":false,"direction":"horizontal","autoHeight":false,"slideToClickedSlide":false,"grabCursor":true,"mousewheel":false,"loop":true,"parallax":false,"slidesPerGroup":1,"slidesPerView":3,"speed":1000,"effect":"slide"}'>
                        <div class="p-relative">
                            <div class="container">
                                <div class="dsn-posts v-dark-head">
                                    <div class="swiper-container swiper">
                                        <div class="swiper-wrapper">
                                            {% for service in services %}
                                            <article
                                                class="swiper-slide dsn-item-post grid-item over-hidden p-relative has-border-radius">
    
                                                <div class="box-content d-flex ">
                                                    <div class="img-cat w-100">
                                                        <div
                                                            class="service-img-sec box-image-bg w-100 over-hidden h-v-80 before-z-index dsn-swiper-parallax-transform p-relative" >
                                                            <img src="{{service.image.url}}"
                                                                class="cover-bg-img dsn-swiper-parallax-transform" alt="" />
                                                        </div>
                                                    </div>
    
                                                    <div class="content service-title-sec d-flex flex-column p-absolute bottom-0 left-0 w-100 p-20 z-index-1">
    
                                                        <div class="cat p-0 d-flex">
                                                            <span class="background-section heading-color">{{service.title}}</span>
                                                        
                                                        </div>
                    
                                                        <div class="d-flex justify-content-between align-items-center mt-15">
                                                            <h2 class="post-title word-wrap d-inline-block title-block text-upper text-upper">
                                                                <a href="{{service.get_absolute_url}}" class="effect-ajax" data-dsn-ajax="work">{{service.title}}</a>
                                                            </h2>
                    
                                                            <a href="{{service.get_absolute_url}}"
                                                                class="dsn-btn dsn-btn-shape d-flex background-section border-circle effect-ajax">
                                                                <span class="icon v-dark background-section">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                                                        <path
                                                                            d="M328 96h24v288h-48V177.9L81 401l-17 17-33.9-34 17-17 223-223H64V96h264z">
                                                                        </path>
                                                                    </svg>
                                                                </span>
                    
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
    
                                            </article>
                                            {% endfor %}
    

                                        </div>
    
                                        <div class="prev-paginate">
                                            <span class="dsn-icon dsn-icon-heading-color background-main">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="15"
                                                    viewBox="0 0 17 15" fill="">
                                                    <path
                                                        d="M6.81496 0.699692L7.66349 1.54822L2.31371 6.898L16.4017 6.88707L16.4008 8.08442L2.31278 8.09535L7.65426 13.4368L6.80442 14.2867L0.0161911 7.49846L6.81496 0.699692Z"
                                                        fill=""></path>
                                                </svg>
                                            </span>
                                        </div>
    
                                        <div class="next-paginate">
                                            <span class="dsn-icon dsn-icon-heading-color">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="15"
                                                    viewBox="0 0 17 15" fill="">
                                                    <path
                                                        d="M10.185 0.699692L9.33651 1.54822L14.6863 6.898L0.598282 6.88707L0.599212 8.08442L14.6872 8.09535L9.34574 13.4368L10.1956 14.2867L16.9838 7.49846L10.185 0.699692Z"
                                                        fill=""></path>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <!-- Our Featured Footer Start -->
                        <div class="our-feature-footer" >
                            <p>{% trans "Let's build something incredible together." %}<a href="{% url 'web:request-for-quotation' %}">{% trans "Get a Quote" %}</a></p>
                        </div>
                        <!-- Our Featured Footer End -->
                    </div>

                    <!-- ========== End Portfolio ========== -->


                <!-- ========== End Service ========== -->

                <!-- ==========  Work ========== -->
                <section class="our-work section-margin has-parallax-image ">

                    <div class="container">
                        <div class="section-title dsn-fill mb-70 d-flex flex-column">
                            <span class="sub-heading mb-5">{% trans "Comprehensive Business Solutions" %}</span>
                            <h2 class="title ">{% trans "What We Do" %}</h2>
                        </div>
                    </div>


                    <div class="overflow-hidden">
                        <div class="dsn-cards root-posts img-h80">
                            <div class="dsn-grid-layout dsn-grid dsn-posts dsn-post-type-cards use-horizontal-scroll box-image-normal"
                                data-dsn-option='{"speed":10,"start":"0", "direction":"rtl"}'>
                                {% for portfolio in portfolios %}
                                <article class="dsn-item-post grid-item h-max-content over-hidden p-relative z-index-2 v-dark-head">
                                    <div class="work-card box-image-bg w-100 over-hidden before-z-index dsn-swiper-parallax-transform has-border-radius"
                                        >
                                        <img src="{{portfolio.image.url}}" class="cover-bg-img dsn-swiper-parallax-transform" alt="" />
                                    </div>
                                    <div class="content service-title-sec d-flex flex-column p-absolute bottom-0 left-0 w-100 p-20 z-index-1">
                                        <div class="cat p-0 d-flex">
                                            <span class="background-section heading-color">{{portfolio.subtitle}}</span>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center mt-15">
                                            <h2 class="post-title word-wrap d-inline-block title-block port-block text-upper text-upper">
                                                <a href="{% url 'web:portfolio' %}" class="effect-ajax" data-dsn-ajax="work">
                                                    {{portfolio.title}}</a>
                                            </h2>
                                            <a href="{% url 'web:portfolio' %}" class="dsn-btn dsn-btn-shape d-flex background-section border-circle effect-ajax">
                                                <span class="icon v-dark background-section">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                                        <path d="M328 96h24v288h-48V177.9L81 401l-17 17-33.9-34 17-17 223-223H64V96h264z"></path>
                                                    </svg>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </article>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    
                </section>
                <!-- ========== End Work ========== -->
                <div class="col-lg-12">
                    <!-- Our Featured Footer Start -->
                    <div class="our-feature-footer" >
                        <p>  {% trans "Bring your vision to life with us." %}<a href="{% url 'web:request-for-quotation' %}">{% trans "Get a Quote" %}</a></p>
                    </div>
                    <!-- Our Featured Footer End -->
                </div>

                <section class="faq-section section-padding p-relative">
                    <div class="container">
                
                        <!-- Section Title -->
                        <div class="text-center mb-50">
                            <h2 class="title dsn-fill">
                                <span data-dsn-animation='{"from":{},"to":{},"responsive":["tablet","desktop"]}'>
                                    {% trans "Frequently Asked Questions" %}
                                </span>
                            </h2>
                            <p class="mt-15">
                                {% trans "Everything you need to know about company formation and business setup in Saudi Arabia." %}
                            </p>
                        </div>
                
                        <!-- FAQ Accordion -->
                        <div class="faq-wrapper">

                            {% for faq in faqs %}
                            <div class="faq-item">
                                <button class="faq-question">
                                    {{ faq.question }}
                                    <span class="faq-icon">+</span>
                                </button>
                        
                                <div class="faq-answer">
                                    <p>
                                        {{ faq.answer }}
                                    </p>
                                </div>
                            </div>
                            {% empty %}
                            <p>No FAQs available.</p>
                            {% endfor %}
                        
                        </div>
                        
                
                   
                
                    </div>
                </section>
                
                <!-- ==========   testimonials ========== -->
                <section class="dsn-testimonials testimonials-small full-testimonials section-margin dsn-swiper"
                    data-dsn-option='{"spaceBetween":30,"centeredSlides":false,"direction":"horizontal","autoHeight":false,"slideToClickedSlide":false,"grabCursor":true,"mousewheel":false,"loop":true,"parallax":false,"slidesPerGroup":1,"slidesPerView":2,"speed":1000,"effect":"card"}'>
                    <div class="container">
                        <div class="section-title dsn-fill d-flex flex-column mb-70">
                            <span class="sub-heading mb-5">{% trans "testimonials" %}</span>
                            <h2 class="title ">{% trans "What People Are Saying" %} </h2>

                            <p class="mt-20">{% trans "Consumers today rely heavily on digital" %} <br>
                                {% trans "means to research products. We research" %}
                                {% trans "a brand of bldend" %}</p>
                        </div>
                        <div class="testimonials-inner d-flex over-hidden">
                            <div class="swiper swiper-container">
                                <div class="swiper-wrapper">
                                    {% for testimonial in testimonials %}
                                    <div
                                        class="swiper-slide testimonal-item background-section has-border-radius d-flex flex-column align-items-center">
                                        <div class="content">
                                            <div class="rating">
                                                <h3 class="heading">4.9
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                        <path
                                                            d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z" />
                                                    </svg>
                                                </h3>

                                                <p class="text-upper">{% trans "out of 5 stars" %}</p>
                                            </div>

                                            <p class="title-block mt-50 text-upper testimonal-description">
                                             {{testimonial.description}}</p>

                                            <div class="quote mt-30">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="30"
                                                    viewBox="0 0 40 30" fill="none">
                                                    <path d="M0 0V30L15.0025 15V0H0Z" fill="#030104"></path>
                                                    <path d="M24.9961 0V30L39.9986 15V0H24.9961Z" fill="#030104">
                                                    </path>
                                                </svg>
                                            </div>
                                        </div>

                                        <div class="box-authoer w-100 v-light background-main p-20">
                                            <div class="authoer d-flex">
                                       
                                                <div class="img">
                                                    <img class="cover-bg-img" src="{{testimonial.image.url}}" alt="">
                                                </div>
                                                <svg width="26" height="19" viewBox="0 0 26 19" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M0 0C10.6801 7.41878 16.3937 7.34643 26 0V19C15.594 10.5293 9.86673 10.5632 0 19V0Z"
                                                        fill="#E0E0E0"></path>
                                                </svg>

                                                <div class="text background-section">
                                                    <h5>{{testimonial.name}}</h5>
                                                    <span>{{testimonial.position}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- ==========  End testimonials ========== -->
                <div class="col-lg-12">
                    <!-- Our Featured Footer Start -->
                    <div class="our-feature-footer" >
                        <p> Join us in creating something amazing.<a href="{% url 'web:request-for-quotation' %}">Get a Quote</a></p>
                    </div>
                    <!-- Our Featured Footer End -->
                </div>

                <!-- ========== Blog ========== -->
                <section class="dsn-cards-post section-padding">
                    <div class="container">
                        <div class="section-title dsn-fill mb-70 d-flex flex-column">
                            <span class="sub-heading mb-5">{% trans "Blogs" %}</span>
                            <h2 class="title ">{% trans "Latest Updates" %}</h2>
                        </div>
                    </div>

                    <div class="container">

                        <div class="dsn-posts">
                            <div class="d-grid grid-lg-3 grid-md-2">
                                {% for blog in blogs %}

                                <div class="post-item p-relative d-flex flex-column justify-content-end over-hidden">
                                    <div class="cat background-main d-flex p-absolute top-0 right-0 z-index-1">
                                        <svg class="top-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0"
                                            y="0" viewBox="0 0 100 100" xml:space="preserve">
                                            <path d="M98.1 0h1.9v51.9h-1.9c0-27.6-22.4-50-50-50V0h50z">
                                            </path>
                                        </svg>
                                        <svg class="bottom-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0"
                                            y="0" viewBox="0 0 100 100" xml:space="preserve">
                                            <path d="M98.1 0h1.9v51.9h-1.9c0-27.6-22.4-50-50-50V0h50z">
                                            </path>
                                        </svg>
                                        <span class="background-section heading-color">{{blog.tag}}</span>
                                    </div>

                                    <div class="box-img w-100 blog-img">
                                        <img class="cover-bg-img has-border-radius" src="{{blog.image.url}}" alt="">
                                    </div>

                                    <div class="content p-relative z-index-1 mt-20">
                                        <span class="date mb-10 background-section p-5">{{blog.date}}</span>
                                        <h4 class="title-block text-upper fw-bold"><a href="{{blog.get_absolute_url}}">{{blog.title|truncatechars:40}}</a></h4>
                                    </div>
                                </div>
                                {% endfor %}

                              
                            </div>
                        </div>
                    </div>
                </section>
                <!-- ========== End Blog ========== -->
                <div class="col-lg-12">
                    <!-- Our Featured Footer Start -->
                    <div class="our-feature-footer mb-30" >
                        <p> Let’s collaborate and build something incredible<a href="{% url 'web:request-for-quotation' %}">Get a Quote</a></p>
                    </div>
                    <!-- Our Featured Footer End -->
                </div>
                <!-- ========== Brand ========== -->
                <div class="dsn-brand brand-radu p-relative section-padding background-section dsn-skew-scroll">
                    {% comment %} <div class="p-absolute top-0 left-0 bottom-0 w-100 h-100">
                        <div class="img-box-parallax before-z-index w-100 h-100 p-absolute top-0 bottom-0 left-0"
                            data-overlay="7" data-dsn-grid="move-up">
                            <img src="{% static 'web/img/img-under-header.jpg' %}"
                                class="has-bigger-scale cover-bg-img has-direction" alt="">
                        </div>
                    </div> {% endcomment %}

                    <div class="container">
                        <div class="system-section brand-inner d-grid grid-md-2 grid-lg-4 align-items-center p-relative z-index-1">
                            {% for client in clients %}
                                {% comment %} {% if forloop.counter0|divisibleby:2 %} {% endcomment %}
                                    <div class="brand-boxs d-flex flex-column align-items-end">
                                        <div class="brand-item brand-item-lg content-blure">
                                            <img src="{{ client.image.url }}" alt="{{ client.name }}">
                                        </div>
                                {% comment %} {% else %} {% endcomment %}
                                        {% comment %} <div class="brand-item brand-item-sm content-blure mt-30">
                                            <img src="{{ client.image.url }}" alt="{{ client.name }}">
                                        </div> {% endcomment %}
                                    </div>
                                {% comment %} {% endif %} {% endcomment %}
                            {% endfor %}
                        </div>

                        <div class="mobile-section brand-inner d-grid grid-md-2 grid-lg-4 align-items-center p-relative z-index-1">
                            {% for client in clients %}
                                {% if forloop.counter0|divisibleby:2 %}
                                    <div class="brand-boxs d-flex flex-column align-items-end">
                                        <div class="brand-item brand-item-sm content-blure">
                                            <img src="{{ client.image.url }}" alt="{{ client.name }}">
                                        </div>
                                {% else %}
                                        <div class="brand-item brand-item-sm content-blure mt-30">
                                            <img src="{{ client.image.url }}" alt="{{ client.name }}">
                                        </div> 
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        
                    </div>
                </div>
                <!-- ========== End Brand ========== -->

                {% comment %} <section class="next-page v-dark section-padding">
                    <div class="container">
                        <div class="tob-box d-flex justify-content-between align-items-end border-bottom pb-50 mb-50">
                            <h2 class="title text-upper">{% trans "time to" %} <br> {% trans "roar!" %} </h2>

                    
                        </div>
                    </div>

                    <div class="dsn-container dsn-right-container over-hidden">
                        <div class="bottom-box ">
                            <div class="d-grid custom-width">
                                <div class="text">
                                    <h4 class="title-block mb-15">{% trans "IS YOUR BIG IDEA READY" %} <br> {% trans "TO GO WILD?" %}</h4>
                                    <p>{% trans "DON’T BE SHY. SAY HI TO UNLOCK CREATIVITY AND INNOVATION FOR YOUR SEAMLESS PROJECT" %}</p>
                                </div>

                                <div class="p-relative dsn-marquee over-hidden"
                                    data-dsn-option='{"speed":0,"duplicatedNumber":7,"duration":7000,"gap":60,"delayBeforeStart":1000,"direction":"left","duplicated":true,"pauseOnHover":false,"startVisible":true,"pauseOnCycle":false,"allowCss3Support":true}'>
                                    <h2 class="dsn-text-marquee d-flex title-lg"> {% for service in services %} {{service.title}} {% endfor %}</h2>
                                </div>
                            </div>

                        </div>
                    </div>

                </section> {% endcomment %}

            </div>

         
        </div>

 

{% endblock  %}  


{% block css %}

{% if LANGUAGE_CODE == 'ar' %}
<style>
[dir="rtl"] .overflow-hidden{
    overflow: hidden;
}
</style> 
{% endif %}

<style>
    html[dir="rtl"] .dsn-grid-layout {
        direction: rtl;
        overflow-x: hidden;
    }
    html[dir="rtl"] .dsn-item-post {
        float: right;
    }
    
    
    {% comment %} .effect-ajax[lang="ar"] {
        white-space: nowrap;  /* Prevent the spacing between Arabic characters */
    } {% endcomment %}
</style>    

{% endblock css %}


{% block js %}

<script>
    var slider = new Swiper(".dsn-grid-layout", {
        direction: "horizontal",
        rtl: true,
        slidesPerView: "auto",
        spaceBetween: 20,
        freeMode: true,
    });
    
</script>
<script>
    document.querySelectorAll('.faq-question').forEach(button => {
        button.addEventListener('click', () => {
            const item = button.parentElement;
            item.classList.toggle('active');
        });
    });
    </script>
    
{% endblock js %}