
.keyword-info-container {
    box-sizing: border-box;
    width: 92%;
    margin-bottom: 20px;
    font-size: 12px;
    border-bottom: 1px solid #dee1e5;
    border: 1px solid #f1f3f4;
    margin: 14px 16px;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-font-smoothing: antialiased
}

body[data-dt="1"] .keyword-info-container,
html[dark] .keyword-info-container {
    border-color: #3d4042
}

.keyword-info-container .title {
    color: #26282d;
    font-size: 16px;
    font-weight: bold
}

.keyword-info-container .tabs {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #dee1e5;
    margin-top: -10px;
    padding: 0px 16px;
    align-items: center
}

.keyword-info-container .tabs.tip {
    border-color: #f8b199 !important;
    border-radius: 2px;
    border: 1px solid
}

.keyword-info-container .tabs li {
    padding: 8px;
    padding-left: 0;
    color: #000;
    cursor: pointer;
    font-size: 12px
}

.keyword-info-container .tabs li.small {
    font-size: 10px
}

.keyword-info-container .tabs li:last-child {
    overflow: hidden
}

.keyword-info-container .tabs li.active {
    color: #4285f4;
    margin: 20px 0
}

table.keyword-info-table {
    border-collapse: collapse;
    width: 100%;
    color: #000;
    font-size: 12px;
    position: relative
}

.keyword-info-table thead {
    height: 50px
}

.keyword-info-table th {
    padding: 10px;
    padding-left: 0;
    font-weight: bold;
    color: #000;
    font-size: 12px
}

.keyword-info-table th:first-child {
    padding-left: 16px
}

.keyword-info-table th:last-child {
    padding-right: 0px
}

.keyword-info-table td {
    border-bottom: 1px solid #f1f3f4;
    padding: 10px;
    padding-left: 0;
    height: 50px;
    box-sizing: border-box
}

.keyword-info-table tr {
    border-bottom: 1px solid #f1f3f4
}

body[data-dt="1"] .keyword-info-table td,
html[dark] .keyword-info-table td {
    border-color: #3d4042
}

body[data-dt="1"] .keyword-info-table tr,
html[dark] .keyword-info-table tr {
    border-color: #3d4042
}

body[data-dt="1"] .keyword-info-table tfoot tr,
body[data-dt="1"] .keyword-info-table tfoot td,
html[dark] .keyword-info-table tfoot tr,
html[dark] .keyword-info-table tfoot td {
    border: none
}

.keyword-info-table td:first-child {
    padding-left: 16px
}

.keyword-info-table td:last-child {
    padding-right: 0px
}

.keyword-info-table tfoot tr,
.keyword-info-table tfoot td {
    border: none
}

.ubersuggest-button {
    color: #0086f7;
    font-family: Figtree;
    font-size: 14px;
    font-weight: bold;
    line-height: 29px;
    padding: 8px 30px;
    border: 1px solid #0086f7;
    background-color: #fff;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 4px
}

.ubersuggest-logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 10px 0 0;
    font-weight: bold;
    color: #26282d
}

.ubersuggest-logo {
    width: 182px;
    height: 33px;
    cursor: pointer
}

.keyword-info-container .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px 16px
}

.header h2 {
    color: #000;
    font-family: Figtree;
    font-size: 24px;
    font-weight: 500
}

html[dark] .keyword-info-container .title {
    color: #fff
}

html[dark] table.keyword-info-table {
    color: #fff
}

html[dark] .keyword-info-table th {
    color: #fff
}

html[dark] .keyword-info-table tfoot tr:last-child td .button-arrow {
    border-color: #fff
}

body[data-dt="1"] .keyword-info-container .title {
    color: #fff
}

body[data-dt="1"] .keyword-info-container .tabs {
    border-color: rgba(255, 255, 255, .0509803922)
}

body[data-dt="1"] table.keyword-info-table {
    color: #fff
}

body[data-dt="1"] .keyword-info-table th {
    color: #fff
}

.tippy-box[data-theme~=tip-dark] .tippy-content,
.tippy-box[data-theme~=tip-light] .tippy-content {
    padding: 0
}

.tippy-box[data-theme~=tip-dark]>.tippy-backdrop {
    background-color: #fff
}

.tippy-box[data-theme~=tip-dark]>.tippy-arrow:after {
    border-color: #fff;
    border-style: solid
}

.tippy-box[data-theme~=tip-dark][data-placement^=top]>.tippy-arrow:before {
    border-top-color: #fff
}

.tippy-box[data-theme~=tip-dark][data-placement^=top]>.tippy-arrow:after {
    border-top-color: #fff
}

.tippy-box[data-theme~=tip-dark][data-placement^=bottom]>.tippy-arrow:before {
    border-bottom-color: #fff;
    bottom: 16px
}

.tippy-box[data-theme~=tip-dark][data-placement^=bottom]>.tippy-arrow:after {
    border-bottom-color: #fff
}

.tippy-box[data-theme~=tip-dark][data-placement^=left]>.tippy-arrow:before {
    border-left-color: #fff
}

.tippy-box[data-theme~=tip-dark][data-placement^=left]>.tippy-arrow:after {
    border-left-color: #fff
}

.tippy-box[data-theme~=tip-dark][data-placement^=right]>.tippy-arrow:before {
    border-right-color: #fff
}

.tippy-box[data-theme~=tip-dark][data-placement^=right]>.tippy-arrow:after {
    border-right-color: #fff
}

.tippy-box[data-theme~=tip-dark]>.tippy-svg-arrow {
    fill: #fff
}

.tippy-box[data-theme~=tip-light]>.tippy-backdrop {
    background-color: #202020
}

.tippy-box[data-theme~=tip-light]>.tippy-arrow:after {
    border-color: #202020;
    border-style: solid
}

.tippy-box[data-theme~=tip-light][data-placement^=top]>.tippy-arrow:before {
    border-top-color: #202020
}

.tippy-box[data-theme~=tip-light][data-placement^=top]>.tippy-arrow:after {
    border-top-color: #202020
}

.tippy-box[data-theme~=tip-light][data-placement^=bottom]>.tippy-arrow:before {
    border-bottom-color: #202020;
    bottom: 16px
}

.tippy-box[data-theme~=tip-light][data-placement^=bottom]>.tippy-arrow:after {
    border-bottom-color: #202020
}

.tippy-box[data-theme~=tip-light][data-placement^=left]>.tippy-arrow:before {
    border-left-color: #202020
}

.tippy-box[data-theme~=tip-light][data-placement^=left]>.tippy-arrow:after {
    border-left-color: #202020
}

.tippy-box[data-theme~=tip-light][data-placement^=right]>.tippy-arrow:before {
    border-right-color: #202020
}

.tippy-box[data-theme~=tip-light][data-placement^=right]>.tippy-arrow:after {
    border-right-color: #202020
}

.tippy-box[data-theme~=tip-light]>.tippy-svg-arrow {
    fill: #202020
}

.tippy-box[data-animation=fade][data-state=hidden] {
    opacity: 0
}

[data-tippy-root] {
    max-width: calc(100vw - 10px)
}

.tippy-box {
    position: relative;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.4;
    white-space: normal;
    outline: 0;
    transition-property: transform, visibility, opacity
}

.tippy-box[data-placement^=top]>.tippy-arrow {
    bottom: 0
}

.tippy-box[data-placement^=top]>.tippy-arrow:before {
    bottom: -7px;
    left: 0;
    border-width: 8px 8px 0;
    border-top-color: initial;
    transform-origin: center top
}

.tippy-box[data-placement^=bottom]>.tippy-arrow {
    top: 0
}

.tippy-box[data-placement^=bottom]>.tippy-arrow:before {
    top: -7px;
    left: 0;
    border-width: 0 8px 8px;
    border-bottom-color: initial;
    transform-origin: center bottom
}

.tippy-box[data-placement^=left]>.tippy-arrow {
    right: 0
}

.tippy-box[data-placement^=left]>.tippy-arrow:before {
    border-width: 8px 0 8px 8px;
    border-left-color: initial;
    right: -7px;
    transform-origin: center left
}

.tippy-box[data-placement^=right]>.tippy-arrow {
    left: 0
}

.tippy-box[data-placement^=right]>.tippy-arrow:before {
    left: -7px;
    border-width: 8px 8px 8px 0;
    border-right-color: initial;
    transform-origin: center right
}

.tippy-box[data-inertia][data-state=visible] {
    transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11)
}

.tippy-arrow {
    width: 16px;
    height: 16px;
    color: #333
}

.tippy-arrow:before {
    content: "";
    position: absolute;
    border-color: rgba(0, 0, 0, 0);
    border-style: solid
}

.tippy-content {
    position: relative;
    padding: 5px 9px;
    z-index: 1
}

.tippy-box[data-theme~=light] {
    color: #26323d;
    box-shadow: 0 0 20px 4px rgba(154, 161, 177, .15), 0 4px 80px -8px rgba(36, 40, 47, .25), 0 4px 4px -2px rgba(91, 94, 105, .15);
    background-color: #fff
}

.tippy-box[data-theme~=light][data-placement^=top]>.tippy-arrow:before {
    border-top-color: #fff
}

.tippy-box[data-theme~=light][data-placement^=bottom]>.tippy-arrow:before {
    border-bottom-color: #fff
}

.tippy-box[data-theme~=light][data-placement^=left]>.tippy-arrow:before {
    border-left-color: #fff
}

.tippy-box[data-theme~=light][data-placement^=right]>.tippy-arrow:before {
    border-right-color: #fff
}

.tippy-box[data-theme~=light]>.tippy-backdrop {
    background-color: #fff
}

.tippy-box[data-theme~=light]>.tippy-svg-arrow {
    fill: #fff
}

@keyframes go2264125279 {
    from {
        transform: scale(0) rotate(45deg);
        opacity: 0;
    }

    to {
        transform: scale(1) rotate(45deg);
        opacity: 1;
    }
}

@keyframes go3020080000 {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes go463499852 {
    from {
        transform: scale(0) rotate(90deg);
        opacity: 0;
    }

    to {
        transform: scale(1) rotate(90deg);
        opacity: 1;
    }
}

@keyframes go1268368563 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes go1310225428 {
    from {
        transform: scale(0) rotate(45deg);
        opacity: 0;
    }

    to {
        transform: scale(1) rotate(45deg);
        opacity: 1;
    }
}

@keyframes go651618207 {
    0% {
        height: 0;
        width: 0;
        opacity: 0;
    }

    40% {
        height: 0;
        width: 6px;
        opacity: 1;
    }

    100% {
        opacity: 1;
        height: 10px;
    }
}

@keyframes go901347462 {
    from {
        transform: scale(0.6);
        opacity: 0.4;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.go4109123758 {
    z-index: 9999;
}

.go4109123758>* {
    pointer-events: auto;
}

.ubersuggest-header-container {
    box-sizing: border-box;
    width: 100%;
    font-size: 12px;
    -webkit-font-smoothing: antialiased
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(100%);
        opacity: 0
    }

    to {
        transform: translateX(-4%);
        opacity: 1
    }
}

.ubersuggest-header-container .toast-container {
    animation: slideInFromLeft .5s ease forwards
}

.ubersuggest-header-container .row {
    margin: 0;
    padding: 15px 16px 15px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px
}

.ubersuggest-header-container .row>div {
    display: flex;
    flex-wrap: wrap;
    gap: 8px
}

.ubersuggest-header-container .row>div:first-child>div {
    flex-wrap: wrap;
    align-content: space-around
}

.ue-enable {
    display: block
}

.ue-disable,
.ue-enable.hide-settings {
    display: none !important
}

.ue-disable.hide-settings {
    display: flex !important
}

.ubersuggest-header-container .settings {
    display: flex;
    align-items: center
}

.ubersuggest-header-container .settings-label {
    margin-right: 21px
}

.ubersuggest-header-container .settings-icon {
    width: 21px;
    height: 21px;
    margin-right: 7px
}

.rr--group {
    display: flex;
    width: 100%;
    position: relative
}

.rr--box {
    display: flex;
    width: 100%;
    flex-grow: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.rr--svg {
    display: flex;
    aspect-ratio: 1;
    width: 100%;
    flex-grow: 1;
    overflow: clip;
    pointer-events: none
}

@supports not (overflow: clip) {
    .rr--svg {
        overflow: auto
    }
}

.rr--box:focus,
.rr--box:focus-visible,
.rr-reset:focus-visible,
.rr-reset:focus {
    outline: none;
    box-shadow: none
}

.rr--focus-reset {
    outline: 6px double #0079ff
}

.rr--box:focus-visible .rr--svg {
    outline: 6px double #0079ff;
    isolation: isolate
}

.rr--reset {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
    right: 0;
    bottom: 50%
}

[dir=rtl] .rr--reset {
    left: 0;
    right: auto
}

.rr--dir-y .rr--reset {
    bottom: 0;
    right: 50%
}

.rr--disabled {
    opacity: .5;
    cursor: not-allowed
}

.rr--disabled .rr--svg {
    pointer-events: none
}

.rr--pointer .rr--box {
    cursor: pointer
}

.rr--dir-x {
    flex-direction: row
}

.rr--dir-y {
    flex-direction: column
}

.rr--space-sm .rr--svg {
    padding: 8%
}

.rr--space-md .rr--svg {
    padding: 12.5%
}

.rr--space-lg .rr--svg {
    padding: 17.5%
}

.rr--dir-x.rr--gap-sm .rr--svg {
    margin: 0 6.25%
}

.rr--dir-x.rr--gap-sm .rr--box:focus-visible:after {
    width: 87.5%;
    left: 6.25%
}

.rr--dir-x.rr--gap-md .rr--svg {
    margin: 0 12.5%
}

.rr--dir-x.rr--gap-md .rr--box:focus-visible:after {
    width: 75%;
    left: 12.5%
}

.rr--dir-x.rr--gap-lg .rr--svg {
    margin: 0 25%
}

.rr--dir-x.rr--gap-lg .rr--box:focus-visible:after {
    width: 50%;
    left: 25%
}

.rr--dir-y.rr--gap-sm .rr--svg {
    margin: 6.25% 0
}

.rr--dir-y.rr--gap-md .rr--svg {
    margin: 12.5% 0
}

.rr--dir-y.rr--gap-lg .rr--svg {
    margin: 25% 0
}

.rr--rx-sm .rr--svg {
    border-radius: 5%
}

.rr--rx-md .rr--svg {
    border-radius: 15%
}

.rr--rx-lg .rr--svg {
    border-radius: 20%
}

.rr--rx-full .rr--svg {
    border-radius: 100%
}

.rr--has-stroke .rr--svg {
    stroke-linecap: round;
    stroke-linejoin: round
}

.rr--has-border .rr--svg {
    border-width: var(--rr--border-width);
    border-style: solid
}

.rr--on .rr--svg {
    fill: var(--rr--fill-on-color, none)
}

.rr--off .rr--svg {
    fill: var(--rr--fill-off-color, none)
}

.rr--has-stroke .rr--on .rr--svg {
    stroke: var(--rr--stroke-on-color, currentColor)
}

.rr--has-stroke .rr--off .rr--svg {
    stroke: var(--rr--stroke-off-color, currentColor)
}

.rr--on .rr--svg {
    background-color: var(--rr--box-on-color, none)
}

.rr--off .rr--svg {
    background-color: var(--rr--box-off-color, none)
}

.rr--has-border .rr--off .rr--svg {
    border-color: var(--rr--border-off-color, currentColor)
}

.rr--has-border .rr--on .rr--svg {
    border-color: var(--rr--border-on-color, currentColor)
}

.rr--fx-colors {
    --rr--easing: .2s cubic-bezier(.61, 1, .88, 1)
}

.rr--fx-colors .rr--svg {
    transition-duration: .2s;
    transition-timing-function: var(--rr--easing);
    transition-property: background-color, border-color, fill, stroke
}

.rr--fx-opacity .rr--off {
    opacity: .35;
    transition: opacity var(--rr--easing)
}

.rr--fx-opacity .rr--on {
    opacity: 1
}

@media(hover: hover) {
    .rr--fx-opacity .rr--box:hover {
        opacity: 1
    }
}

@media(hover: hover) {
    .rr--fx-zoom .rr--box {
        transition: transform var(--rr--easing);
        transform: scale(1)
    }

    .rr--fx-zoom .rr--box:hover {
        transform: scale(1.2)
    }
}

@media(hover: hover)and (prefers-reduced-motion) {
    .rr--fx-zoom .rr--box:hover {
        transform: scale(1)
    }
}

@media(hover: hover) {
    .rr--fx-position .rr--box {
        transition: transform var(--rr--easing);
        transform: translateY(0)
    }

    .rr--fx-position .rr--box:hover {
        transform: translateY(-15%)
    }
}

@media(hover: hover)and (prefers-reduced-motion) {
    .rr--fx-position .rr--box:hover {
        transform: translateY(0)
    }
}

.rr--svg-stop-1 {
    stop-color: var(--rr--fill-on-color, rgba(0, 0, 0, 0))
}

[dir=rtl] .rr--svg-stop-1,
.rr--svg-stop-2 {
    stop-color: var(--rr--fill-off-color, rgba(0, 0, 0, 0))
}

[dir=rtl] .rr--svg-stop-2 {
    stop-color: var(--rr--fill-on-color, rgba(0, 0, 0, 0))
}

.rr--hf-svg-on {
    fill: var(--rr--fill-on-color, none)
}

.rr--hf-svg-off {
    fill: var(--rr--fill-off-color, none)
}

.rr--has-stroke .rr--hf-svg-on {
    stroke: var(--rr--stroke-on-color, currentColor)
}

.rr--has-stroke .rr--hf-svg-off {
    stroke: var(--rr--stroke-off-color, currentColor)
}

.rr--hf-svg-on .rr--svg,
.rr--hf-svg-off .rr--svg {
    background-color: var(--rr--box-off-color, none)
}

.rr--has-border .rr--hf-svg-on .rr--svg {
    border-color: var(--rr--border-on-color, currentColor)
}

.rr--has-border .rr--hf-svg-off .rr--svg {
    border-color: var(--rr--border-off-color, currentColor)
}

.rr--dir-x .rr--hf-box-int .rr--svg {
    background: linear-gradient(to right, var(--rr--box-on-color, none) 50%, var(--rr--box-off-color, none) 50%)
}

[dir=rtl] .rr--dir-x .rr--hf-box-int .rr--svg {
    background: linear-gradient(to left, var(--rr--box-on-color, none) 50%, var(--rr--box-off-color, none) 50%)
}

.rr--dir-y .rr--hf-box-int .rr--svg {
    background: linear-gradient(to bottom, var(--rr--box-on-color, none) 50%, var(--rr--box-off-color, none) 50%)
}

.rr--hf-box-on .rr--svg {
    background-color: var(--rr--box-on-color, none)
}

.rr--hf-box-off .rr--svg {
    background-color: var(--rr--box-off-color, none)
}

.rr--hf-box-on .rr--svg,
.rr--hf-box-off .rr--svg,
.rr--hf-box-int .rr--svg {
    fill: var(--rr--fill-off-color, none)
}

.rr--has-stroke .rr--hf-box-on .rr--svg,
.rr--has-stroke .rr--hf-box-off .rr--svg,
.rr--has-stroke .rr--hf-box-int .rr--svg {
    stroke: var(--rr--stroke-off-color, currentColor)
}

.rr--has-border .rr--hf-box-on .rr--svg,
.rr--has-border .rr--hf-box-int .rr--svg {
    border-color: var(--rr--border-on-color, currentColor)
}

.rr--has-border .rr--hf-box-off .rr--svg {
    border-color: var(--rr--border-off-color, currentColor)
}

.keyword-info-section {
    color: #26282d;
    font-family: Figtree;
    font-size: 12px;
    height: 100%;
    display: flex;
    align-items: center;
    -webkit-font-smoothing: antialiased
}

.keyword-info-section img {
    max-width: none
}

.keyword-info-section>li {
    font-weight: 600;
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px
}

.keyword-info-section>li:first-child::after {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #e8ebec;
    border-radius: 50%;
    margin: 0px 10px 0px 4px
}

body[data-dt="1"] .keyword-info-section>li:first-child::after {
    background-color: #636363
}

.keyword-info-section.hidden {
    display: none
}

.keyword-info-section.google {
    background-color: rgba(0, 0, 0, 0)
}

.keyword-info-section.youtube {
    margin-right: 15px;
    padding: 0 0 0 10px;
    height: 100%;
    background-color: #fff
}

.keyword-info-section.amazon {
    padding: 13px 0;
    background-color: #fff
}

.kw-overview-container {
    box-sizing: border-box;
    width: 673px;
    padding: 0;
    margin: 0;
    margin-top: 14px;
    font-size: 12px;
    font-family: Figtree;
    -webkit-font-smoothing: antialiased
}

.kw-overview-container.youtube {
    box-sizing: border-box;
    width: 645px;
    padding: 0;
    margin: 0;
    font-size: 12px
}

.bl-info-container {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: "Figtree";
    -webkit-font-smoothing: antialiased
}

.bl-info-header {
    display: flex;
    min-height: 24px;
    width: 100%;
    padding: 0;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 5px
}

.bl-info-header .row {
    display: flex;
    margin: 0;
    width: 100%;
    justify-content: space-between
}

.bl-info-header .row.youtube {
    justify-content: flex-start
}

.bl-info-content,
.kw-info-content {
    width: 97%;
    display: flex;
    flex-direction: column;
    border: 1px solid #dee1e5;
    border-radius: 4px;
    padding-block: 16px 10px;
    justify-items: center;
    align-items: center;
    margin-bottom: 16px;
    position: relative
}

body[data-dt="1"] .kw-info-content,
body[data-dt="1"] .bl-info-content {
    background: rgba(0, 0, 0, 0);
    border-color: #292929
}

.bl-info-content img.loading {
    width: 50px;
    margin: 0 auto;
    margin-bottom: 10px
}

.kw-info-content img.loading {
    width: 50px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px
}

table.bl-info-table,
table.kw-info-table {
    border-collapse: collapse;
    width: calc(100% - 32px);
    color: #808185;
    font-size: 12px
}

body[data-dt="1"] table.bl-info-table,
body[data-dt="1"] table.kw-info-table {
    color: #fff
}

.bl-info-table thead,
.kw-info-table thead {
    height: 50px;
    background: #f6f7f7
}

body[data-dt="1"] table.bl-info-table thead,
body[data-dt="1"] table.kw-info-table thead {
    background: #36373a
}

.bl-info-table tr,
.kw-info-table tr {
    width: 100%;
    max-width: 600px
}

.bl-info-table th,
.kw-info-table th {
    padding: 10px;
    padding-left: 0;
    font-weight: 600;
    color: #000;
    font-size: 12px;
    border-bottom: 1px solid #f6f7f7
}

body[data-dt="1"] .bl-info-table th,
body[data-dt="1"] .kw-info-table th {
    color: #fff;
    border-color: #3d4043
}

.bl-info-table th:first-child,
.kw-info-table th:first-child {
    padding-left: 16px
}

.bl-info-table th:last-child,
.kw-info-table th:last-child {
    border-right: none;
    padding-right: 16px
}

.bl-info-table td,
.kw-info-table td {
    border-bottom: 1px solid #dee1e5;
    padding: 10px;
    padding-left: 0;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000
}

body[data-dt="1"] .bl-info-table td,
body[data-dt="1"] .kw-info-table td {
    color: #fff;
    border-color: #3d4043
}

.bl-info-table td:first-child,
.kw-info-table td:first-child {
    border-left: none;
    padding-left: 16px
}

.bl-info-table tfoot td:first-child,
.kw-info-table tfoot td:first-child {
    padding-left: 0;
    padding-top: 12px
}

.bl-info-table tfoot td:last-child,
.kw-info-table tfoot td:last-child {
    padding-right: 0;
    padding-top: 12px
}

.bl-info-table td:last-child,
.kw-info-table td:last-child {
    border-right: none;
    padding-right: 16px
}

.bl-info-table tfoot tr:last-child td,
.kw-info-table tfoot tr:last-child td {
    border-bottom: none
}

.bl-info-container .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap
}

.bl-info-container .row.start {
    justify-content: flex-start;
    gap: 10px
}

.bl-info-container .row.start.tip {
    border: 1px solid #f8b199;
    border-radius: 2px;
    width: fit-content;
    padding-right: 10px
}

.statistics-graph-container {
    box-sizing: border-box;
    width: 92%;
    font-size: 12px;
    border-bottom: 1px solid #dee1e5;
    border: 1px solid #f1f3f4;
    margin: 24px 16px;
    border-radius: 2px;
    padding: 20px;
    padding-bottom: 10px;
    position: relative;
    -webkit-font-smoothing: antialiased
}

body[data-dt="1"] .statistics-graph-container {
    border-color: #3d4042
}

.statistics-graph-container.tip {
    border: 1px solid #f8b199;
    border-radius: 2px
}

.statistics-graph-container .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px 0
}

.statistics-graph-container .row.closed {
    margin-bottom: 10px
}

.statistics-graph-container .row .title {
    color: #26282d;
    font-size: 16px;
    font-weight: bold
}

body[data-dt="1"] .statistics-graph-container .row .title {
    color: #fff
}

body[data-dt="1"] .statistics-graph-container .tabs {
    border-bottom: 1px solid #dee1e5
}

body[data-dt="1"] .statistics-graph-container .tabs li {
    color: #fff
}

body[data-dt="1"] .statistics-graph-container .tabs li.active {
    color: #fff;
    border-bottom: 3px solid #fff
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: circular;

    src: url('chrome-extension://liecbddmkiiihnedobmlmillhodjkdmb/fonts/CircularXXWeb-Book.woff2') format('woff2');
}

@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: circular;

    src: url('chrome-extension://liecbddmkiiihnedobmlmillhodjkdmb/fonts/CircularXXWeb-Bold.woff2') format('woff2');
}


