*, html, body{
	padding: 0;
	margin: 0;
   
}

body{
    overflow-x:hidden;
	scroll-behavior: smooth;
/*	    background-image: url(../images/visa-theme-bg.jpg);*/
/*background-image: linear-gradient(42deg,#69d48c,#59c97d,#03a8a2,#05547b,#05547b);*/
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
/*    background-color: #ccc;*/
}
iframe .rhqContent{
    position: relative;
}
iframe .rhqSticke{
    position: sticky;
    top: 150px;
}
.footer-menu-links .my-3{
	margin-bottom: 0 !important;
}
footer{
	background-color: #fff;
}
@media(min-width: 1399px){
.container{
    max-width: 1320px;
}    
}

.invVisa-ptb{
	padding-top: 100px;
	padding-bottom: 100px;
}

/*Header*/

.mizaHeader{
position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 99999;
  
}
.mizaHeader.stickyHeader {
     border-bottom:  2px solid #000;
}
.topSection{
    padding: 20px 0;
}
.mizaHeader .language {
    font-size: 18px;
    margin-right: 5px;
    cursor: pointer;
    color: #fff;
    position: relative;
    top: 3px;
    font-weight: 500;
}

.mizaHeader .social-links a {
    line-height: normal;
}
.mizaHeader .social-links a {
    color: #fff;
/*    margin-left: 20px;*/
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
    font-size: 12px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;
}
.mizaHeader .social-links {
    margin: 0;
    padding: 0;
    justify-content: center;
    margin-left: auto;
    display: flex;
    align-items: center;
}


.btn-trans {
    background: #0000002e;
    border-radius: 8px;
    padding: 6px 10px;
}

.btn-trans label.lang-btn {
    padding: 0;
    color: #fff;
    font-size: 10px;
    margin: 0 10px;
    border: 0;
    line-height: 16px;
    cursor: pointer;
    font-size: 12px;
}

.btn-trans label.lang-btn:hover{
    text-decoration: underline;
    text-decoration-color: #00A6BE;
    text-decoration-thickness:3px;
}
.btn-trans label.lang-btn.active {
    color: #fff;
}

.lang-en {
    top: 2px;
    position: relative;
}

.lang-en:before {
    position: absolute;
    content: "";
    right: -10px;
    top: 0px;
    width: 1px;
    height: 15px;
    background-color: #707070;
}

.lang-btn.focus,
.lang-btn:focus {
    outline: 0;
    box-shadow: none;
}
.Header_vs_logo img {
    width: 90px;
    margin-left: 30px;
}
.headerBtm .headerBtmFlex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerLogo{
    position: relative;
    top: -50px;
}
.headerBtm .headerMenuList{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.headerBtm .nav-menu a {
    display: block;
    position: relative;
    color: #fff;
    transition: 0.3s;
    font-size: 13px;
    padding: 12px 19px 12px 12px;
    text-transform: uppercase;
    font-weight: 600;
}
.headerBtm .nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
    padding: 20px 0px;
    margin-left: 10px;
    transition: 0.3s;
}
.mizaHeader.stickyHeader  .topSection{
    display: none;
}
.mizaHeader.stickyHeader .headerBtm{
    background-color: #fff;
        padding: 20px 0;
        transition: 0.2s all linear;
}
.mizaHeader.stickyHeader  .headerBtm .nav-menu a{
    color: #707070;
}
.headLogoGreen{
    position: absolute;
    left: 0;
    top: 49px;
    opacity: 0;
    visibility: hidden;
     

}
.mizaHeader.stickyHeader .headLogoGreen{
     opacity: 1;
    visibility: visible;
        transition: 0.2s all linear;

}
.mizaHeader.stickyHeader .headLogowhite{
     opacity: 0;
    visibility: hidden;
        transition: 0.2s all linear;

}
.mobileMenuBtn{
   background: transparent;
    box-shadow: none;
    outline: none;
    border: none; 
}
.mobileMenuBtn:focus{
    outline: none;
}


/*Header*/

/*Footer*/
.mizaFooter .footerContentTop {
    background-color: #f8f8f8;
    padding: 45px 0px 45px;
    display: none;
}
.mizaFooter .footerContent .f-coll .display-7 {
    font-size: 20px;
    color: #026a37;
    text-align: left;
    line-height: 24px;
    min-height: 4rem;
}
.mizaFooter .footerContent .f-coll p {
    font-size: 14px;
    font-weight: normal;
    color: #4b4b4b;
     padding-bottom: 0px;
    text-align: left;
    line-height: 20px;
    min-height: 5rem;
}
.mizaFooter .footerContent .f-coll .link, 
.mizaFooter .footerContent .f-coll ul li a {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.28px;
    color: #0489a3;
    opacity: 1;
    transition: all 0.4s ease;
}
.mizaFooter .footerContent .f-coll .link:hover, 
.mizaFooter .footerContent .f-coll ul li a:hover {
    opacity: 0.5;
    text-decoration: none;
}
.mizaFooter  .footerContent .f-coll ul {
    padding: 5px 0 0;
    display: flex;
    justify-content: space-between;
}
.mizaFooter .footerContent .f-coll ul li {
    position: relative;
    height: 11px;
    line-height: 11px;
}
.mizaFooter .footerContent .f-coll ul li::after {
    position: absolute;
    content: "";
    top: 1px;
    height: 11px;
    padding-right: 10px;
    border-right: 1px solid #d5d5d5;
}
.mizaFooter .footerContent .f-coll ul li:last-child:after {
    border-right: none;
}
.mizaFooter .ftrBtnLink{
    min-height: auto !important;
}
.mizaFooter .footer-menu {
    margin-top: 12px;
    text-align: center;
    padding: 0;
}
.mizaFooter ul li {
    list-style-type: none;
}
.mizaFooter  .footer-menu li {
    margin-bottom: 1rem;
}
.mizaFooter .footer .footer-menu li:first-child {
    margin-top: 0;
}
.mizaFooter .footer-menu li a {
    color: #707070;
    text-decoration: none;
    font-weight: 500;
}
.mizaFooter .footer-menu-links .first-list {
    font-weight: 700;

}
.mizaFooter .footer-menu-links .footer-menu p {
    font-weight: 700;
    color: #707070;
}
.mizaFooter .follow-us {
    text-align: left;
    position: relative;
    display: block;
    font-size: 19px;
    margin-top: 0.6rem;
    margin-bottom: 15px;
    color: #00a6be;
}
.mizaFooter .social-links {
    margin: 0;
    padding: 0;
    justify-content: center;
    margin-left: auto;
}
.mizaFooter .footer-menu-links .no-gutters :nth-child(3) ul li:nth-child(5) a {
    color: #00a6be;
}
.mizaFooter .copyright {
    width: 100%;
    background-color: #025635;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    width: 100%;
    background-color: #025635;
}

.mizaFooter .copyright .copyrightText {
    text-align: left;
}
.mizaFooter .nav-bottom-footer {
    margin-bottom: 0;
}
.mizaFooter .nav-bottom-footer li {
    float: right;
}
.mizaFooter .nav-bottom-footer li a {
    padding: 0.5rem 1rem;
    color: #fff;
    text-decoration: none;
}
/*Footer*/


[dir="rtl"] .mizaFooter .follow-us {
    text-align: right;
}
[dir="rtl"] .mizaFooter .copyright .copyrightText{
    text-align: right;
}
[dir="rtl"]  .mizaFooter .nav-bottom-footer {
   
    display: flex;
    justify-content: flex-end;
}
[dir="rtl"] .footer_logo{
    display: flex;
}
[dir="rtl"] .mizaHeader .social-links{
    margin-left: unset;
    margin-right: auto;
}
[dir="rtl"] .headerBtm .nav-menu>ul>li{
    margin-right: 30px;
    margin-left: 0;
}
[dir="rtl"] .dropdown-toggle::after{
    margin-left: unset;
    margin-right: .255em;
}
[dir="rtl"] .Header_vs_logo img{
    margin-left: unset;
    margin-right: 30px;
}
[dir="rtl"] .mizaHeader .social-links a{
    margin-left: unset;
    margin-right: 0px;
}
[dir="rtl"]  .headerBtm .nav-menu a{
    font-size: 14px;
}